.container-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-title h2{
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 100;
}

.container-title span{
    margin-bottom: 30px;
    font-size: 1.3rem;
}

.container-anuncio{
    width: 65%;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25);
}

.anuncio{
    display: flex;
    flex-direction: row;
}

.anuncio-img img{
    margin-right: 30px;
}

.anuncio-conteudo{
    width: 100%;
    flex-grow: 1;
}

.anuncio-conteudo h3:first-child{
    color: black;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 10px;
}

.anuncio-conteudo span{
    font-size: 1.3rem;
}

.anuncio-conteudo #preco{
    font-size: 2rem;
    font-weight:700;
    color: #ff7d04;
    text-align:end;
    margin-top: 130px;
}

.MenuLateralAlteracao button{
    height: 2rem;
    width: 7rem;
    margin-left: 0.5rem;
    border-radius: 20px;
    background-color: #ff7d04;
    color: #fff;
    transition: 0.4s;
}

.MenuLateralAlteracao button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.editIcon{
    transition: opacity .3s, transform .3s;
	transform: scale(.5);
	opacity: 0.5;
}

.editIcon:hover{
    transition: scale(1.1);
	transform: scale(1.5);
	opacity: 1;
}

.btnRelatorioAnuncios{
    height: 2rem;
    width: 8rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #ff7d04;
    color: #fff;
    transition: 0.4s;
}

.btnRelatorioAnuncios:hover{
    cursor: pointer;
    transform: scale(1.1);
}